@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');

body {
	background-color: #ad5805; /*#ad5805*/
	font-family: 'Newsreader', serif;
}

/*felso szovegdoboz*/
.center-felso {
	max-width: 100%;
	width: 650px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

/*also szovegdoboz*/
.center-also {
	width: 100%;
	width: 650px;
	text-align: center;
	margin: 50px auto 0px auto;
}

/*felso szovegdoboz szovege*/
h1 {
	font-size: 42px;
	font-weight: bold;
	color: #41015d;
}

/*FlexBox*/
.abc {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;	
	justify-content: center;
	align-items: center;
	align-self: center;
}

/*Hivatkozas vagy link szine*/
a {
	text-decoration: none;
	color: #0a2b00;
	transition: color 1s ease; /*Added transition instead of animation, works just right*/
}

a:visited {
	text-decoration: none;
	color: #0a2b00;
}

a:hover {
	text-decoration: underline;
  	color: #000a7a;
}

/*Elso sor betuhalmaz(flex-wrap)*/
.a {
	padding: 10px  25px 10px 25px;
	font-size: 132px;
}

.b {
	padding: 10px 25px 10px 25px;
	font-size: 42px;
}

.c {
	padding: 10px 25px 10px 25px;
	font-size: 82px;
}

.d {
	padding: 10px 25px 10px 25px;
	font-size: 108px;
}

.e {
	padding: 10px 25px 10px 25px;
	font-size: 42px;
}

.f {
	padding: 10px 25px 10px 25px;
	font-size: 66px;
}

/*Masodik betuhalmaz(flex-wrap)*/
.g {
	padding: 10px 25px 10px 25px;
	font-size: 95px;
}

.h {
	padding: 10px 25px 10px 25px;
	font-size: 84px;
}

.i {
	padding: 10px 25px 10px 25px;
	font-size: 38px;
}

.j {
	padding: 10px 25px 10px 25px;
	font-size: 129px;
}

.k {
	padding: 10px 25px 10px 25px;
	font-size: 55px;
}

.l {
	padding: 10px 25px 10px 25px;
	font-size: 90px;
}

.m {
	padding: 10px 25px 10px 25px;
	font-size: 55px;
}

.n {
	padding: 10px 25px 10px 25px;
	font-size: 105px;
}

/*Harmadik betuhalmaz(flex-wrap)*/
.o {
	padding: 10px 25px 10px 25px;
	font-size: 108px;
}

.q {
	padding: 10px 25px 10px 25px;
	font-size: 35px;
}

.p {
	padding: 10px 25px 10px 25px;
	font-size: 77px;
}

.r {
	padding: 10px 25px 10px 25px;
	font-size: 50px;
}

.s {
	padding: 10px 25px 10px 25px;
	font-size: 92px;
}

.t {
	padding: 10px 25px 10px 25px;
	font-size: 85px;
}

/*Negyedik betuhalmaz(flex-wrap)*/
.u {
	padding: 10px 25px 10px 25px;
	font-size: 96px;
}

.v {
	padding: 10px 25px 10px 25px;
	font-size: 66px;
}

.x {
	padding: 10px 25px 10px 25px;
	font-size: 36px;
}

.y {
	padding: 10px 25px 10px 25px;
	font-size: 76px;
}

.z {
	padding: 10px 25px 10px 25px;
	font-size: 46px;
}
