#container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 100px;
}

.p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
}

@media all and (max-width: 625px) {
    #container {
        flex-flow: column;
    }
}