#container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 100px;
}

.p {
    margin-bottom: 20px;
    text-align: center;
}

@media all and (max-width: 625px) {
    #bekuldo, #magyarazo {
        width: 450px;
    }
}